<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.CommentMapper">

    <resultMap id="commentResult" type="com.bean.Comment">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="userId" column="user_id"/>
        <result property="createdDate" column="created_date"/>
        <result property="entity_type" column="entity_type"/>
        <result property="entityId" column="entity_id"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="allComment">
        id, content, user_id, created_date, entity_type, entity_id, status
    </sql>

    <sql id="noIdComment">
        content, user_id, created_date, entity_type, entity_id, status
    </sql>

    <insert id="insertComment">
        insert into comment
        ( <include refid="noIdComment"/>  )
        values (#{content}, #{userId}, #{createdDate}, #{entity_type}, #{entityId}, #{status})
    </insert>

    <update id="updateComment"></update>
    <delete id="deleteComment"></delete>

    <select id="selectAllComments" resultMap="commentResult">
        select <include refid="allComment"/>
        from comment
        where entity_id = #{param1}
        AND entity_type = #{param2}
        order by created_date desc
    </select>
    <select id="getCommentById" resultMap="commentResult">
        select
        <include refid="allComment"/>
        from comment
        where id = #{commentId}
    </select>
</mapper>